<footer>
    <div class="container" >
        <h2> Residence Capriolo Livigno </h2>
          <div class="row footerInfo">
            <div class="col-md-6 col-sm-6">
                <adress>
                    <h4> Contact Information</h4>                                        
                       <ul class="footer-ul">
                          <li> <strong> Fabiano Bergamaschi: <i class="fa fa-phone" aria-hidden="true"></i> +39 3381 39 7729o </strong> </li>
                          <li> <strong> Anita Baera: <i class="fa fa-phone" aria-hidden="true"></i> +39 3299 87 1317 </strong> </li>
                          <li> <strong> <i class="fa fa-envelope" aria-hidden="true"></i> E-mail: <a href="mailto:reservation@residence-capriolo.it">reservation@residence-capriolo.it</a></strong> </li>
                        </ul>
                </adress>
            </div>
            <div class="col-md-6 col-sm-6">
                <adress>
                    <h4><i class="fa fa-map-maker" aria-hidden="true"></i>Address: </h6>
                        <ul class="footer-ul">
                          <li> <strong> Residence Capriolo </strong> </li>
                          <li> <strong> Via Borch 96/D </strong> </li>
                          <li> <strong> 23030 Livigno (SO) </strong> </li>
                        </ul>
                </adress>
            </div>
        </div>
    </footer>
</body>
</html>