<footer class="footer">
    <div class="center">
        <div>
            <!-- <img class="footer__logo" src="#" alt="Logo"> -->
            <!-- Replace Logo -->
            <i class="fab fa-fort-awesome-alt footer__logo"></i>
            <!-- Change Name Here -->
            <h2 class="footer__heading"> Residence Capriolo Livigno </h2>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                    <h3 class="footer__heading-sub">
                        <i class="fa fa-info footer__icon" aria-hidden="true"></i> &nbsp; Contact Information</h3>
                    <div class="div-space center">
                        <div class="row">
                            <div class="footer__cell">
                                <ul class="terms__list">
                                    <li>
                                        <strong> Anita Baera: </strong>
                                    </li>
                                    <li>
                                        <strong>Fabiano Bergamaschi: </strong>
                                    </li>
                                    <li>
                                        <strong>E-mail:</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__cell">
                                <ul class="terms__list">
                                    <li>
                                        <i class="footer__icon fa fa-phone " aria-hidden="true"></i> &nbsp; +39 3299 87 1317</li>
                                    <li>
                                        <i class="fa fa-phone footer__icon" aria-hidden="true"></i> &nbsp; +39 3381 39 7729 </li>
                                    <li>
                                        <i class="fa fa-envelope footer__icon" aria-hidden="true"></i>

                                        <a class="footer__email" href="mailto:booking@NONAME.it"> booking@NONAME.it</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
            </div>

            <div class="col-md-6 col-sm-6">
                <h3 class="footer__heading-sub">
                    <i class="fa fa-map-marker footer__icon" aria-hidden="true"></i> &nbsp;Address: </h3>
                <div class="footer__adress">
                    <ul class="terms__list">
                        <li>
                            <strong> Residence Capriolo </strong>
                        </li>
                        <li>
                            <strong> Via Borch 96/D </strong>
                        </li>
                        <li>
                            <strong> 23030 Livigno (SO) </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <p>
                <a href="#"><i class=" socialIcon fab fa-facebook-f" aria-hidden="true"></i></a>
                &nbsp; &nbsp; &nbsp;
                <a href="#"><i class="socialIcon fab fa-instagram" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
</footer>
</body>

</html>