/* Colors */	
/* ---------------------------------------- */ 
$border: 		 #c6c6c6;
$border-focus: #9FB1C1;
$brand-color:  #1b3d4d;
$booking-green: #bdcc00;
$asphalt: 		#506982;

*{
	//  box-sizing:border-box;
}
body{
	text-align: center;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;

}
a{
  text-decoration: none;
}
.info-text{
  text-align: left;
	width: 100%;
	font-size: 2.0rem;
	font-weight: 500;
	color: #999;
	&__header{
		font-size: 1.7rem;
		font-weight: 400;
		color: #999;
	}

}
header, form{
	padding: 4em 10%;
}

.form-group{
	margin-bottom: 2rem;
}
h2.heading{
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: $asphalt;
	border-bottom: .1rem solid $asphalt;
	padding-bottom: .3rem;
	margin-bottom: 2.0rem;
}
.fab,.fa,.fas,.far{
	color: #999;
}
h1.heading{
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 400;
	// text-align: center;
	color: $asphalt;
	border-bottom: .2rem solid $asphalt;
	padding-bottom: .3rem;
	margin-bottom: 2.0rem;
}

.controls{
	text-align: left;
	position: relative;
	input[type="text"],
	input[type="email"],
  input[type="number"],
  input[type="date"],
	input[type="tel"],
	textarea,
	button,
	select{
		padding: 1.2rem;
		border: .1rem solid $border;
		width: 100%;
		margin-bottom: 1.8rem;
		color: #888;
		font-family: 'Lato', 'sans-serif';
		font-size: 2rem;
		font-weight: 300;
		border-radius: .2rem;
		transform: transition(all .3s);

	}


	select{
		// appearance(none);
		cursor: pointer;
	}
	label{
     width: 95%;
     color: #999;
		font-size: 2rem;
		display: inline-block;
		padding: .4rem 1.0rem;
		font-weight: 400;

    &.active{
			top: -1.1rem;
			color: #555;
      width: auto;
		}
	}
	textarea{
		resize: none;
		height: 20.0rem;
		 overflow-x: hidden;
	}
}

button{
  cursor: pointer;
  background-color: $brand-color;
  border: none;
  color: #fff;
  padding: 1.4rem 1rem;
}

.clear:after{
    content: "";
    display: table;
    clear: both;
}

// Grid https://codepen.io/chriscoyier/pen/eGcLw

$pad: 1.0rem;

.grid {
  //margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}
.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

@media (max-width: 760px) {
  .col-1-4-sm, .col-1-3, .col-2-3 {
	width: 100%;
  }
  [class*='col-'] {
    padding-right: 0px;
  }  
}

.col-1-8 {
	width: 12.5%;
}