.footer {
    background-color: $color-main;
    padding: 6rem;
    font-size: 1.4rem;
    color:$color-white;
    margin-top: -1rem;

    @include respond(tab-port){
        padding: 8rem 0;

    }
    
    &__list {
        list-style: none;
    }
    
}