body{
    font-family:"Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-font;
}

// $color

.heading-primary{
    text-transform: uppercase;
    text-decoration: none;
    backface-visibility: hidden;
    margin: 6rem;
    color: $color-white;
    

    &-main{
        display:block;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        font-weight:700;


    }
    &-sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.24rem;
        font-weight: 400;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // -webkit-background-clip: text;
    // color: transparent;
    color: $color-font;
    letter-spacing: .2rem;
    // transition: all .2s;

    &:hover{

    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size;
}

.center{
    display:block;
    text-align: center;
}