<% include ./partials/header%>
        <!-- Navigation -->
        <% include ./partials/sections/navigation%>
        <!-- Header -->
        <% include ./partials/sections/starter%>
    <!-- main section of content -->
    <main>
        <!-- Section 1 About us -->    
        <% include ./partials/sections/about%>
        <!-- Section 2 Apartments -->
        <% include ./partials/sections/apartments%> 
        <!-- Section 3 Information -->        
        <% include ./partials/sections/information%> 
        <!-- Section 4 Booking -->        
        <% include ./partials/sections/booking%>         
    </main>

        <!-- Modals -->
        <!-- Apartment 1 -->
        <% include ./partials/modal/modal1.ejs %>
        <!-- Apartment 3 -->
        <% include ./partials/modal/modal3.ejs %>
        <!-- Apartment 4 -->
        <% include ./partials/modal/modal4.ejs %>
        <!-- apartment 5 -->
        <% include ./partials/modal/modal5.ejs %>
        <!-- apartment 6 -->
        <% include ./partials/modal/modal6.ejs %>
        
    <!-- Footer -->
<% include ./partials/footer%>