<% include ./partials/header%>

    <!-- Legger til navigasjon her -->
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>1</span>About Us
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#section-appartments" class="navigation__link">
                        <span>2</span> Our Appartents
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>3</span>Where to find us
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>4</span>Book Now
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- header -->
    <header class="header">
        <div class="header__logo-box">
            <img src="" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">Residence Capriolo Livigno</span>
                <span class="heading-primary-sub">Apartments and holiday</span>
            </h1>
            <a href="#" class="btn btn--white">Book Now</a>
        </div>
    </header>

    <main>

        <!-- Section 1 About us  -->
        <section class="section-about">
            <div class="about-content">
                <h2 class="heading-secondary center">About us</h2>

                <p class="paragraph"> In the middle of San Rocco, a few meters from free nature and ski slopes you can find Residence Capriolo.
                    Located 200 m from the gondola Carosello 3000. Close to supermarkeds, duty-free shops, restaurants and
                    local attractions. The hostel lies a short 10 min walk from the city center towards the (north?). Lies
                    right next to the primaryschool, local policestation and the church. The appartments are fully equipped
                    and ready for use. A superb location for easy access to hikes, the skiing resort and shopping.</p>
            </div>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://media-cdn.tripadvisor.com/media/photo-o/0e/cc/bd/ab/hotel-exe-vienna.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://www.leonardo-hotels.com/octopus/upload/images/rooms/murcdbllhecc15feb17800x600.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                                <img src="/img/Appartment 1/livingroom1_apt1.jpg" alt="...">
                                <!-- https://www.ahstatic.com/photos/6626_rokgb_00_p_1024x768.jpg -->
                                <div class="carousel-caption">
                                </div>
                            </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </section>

        <!-- Section 2 Our Apartments -->

        <!-- mock idea 
        picture with roomnumber, indication of capacity. Hover effect to reveal button to reveal a popup to reveal more information and pictures.-->

        <section class="section-appartments" id="section-appartments">
            <h2 class="heading-secondary center">Our Apartments</h2>

            <div class="appartment">

                <div class="appartment big">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/bathroom1_apt1.jpg" alt="Apt 1">

                        <div class="appartment__text">
                            <p>Appartment 4</p>
                            <p>Capacity: 1-3</p>
                            <a href="#popup" class="btn btn-white">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="appartment big">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/bedroom1_apt1.jpg" alt="Apt 1">
                        <div class="appartment__text">
                            <p>Appartment 5</p>
                            <p>Capacity: 1-3</p>
                            <a href="#room3" class="btn btn-white">Read More</a>                            
                        </div>
                    </div>
                </div>

                <div class="appartment">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/kitchen 1b.jpg" alt="Apt 1">
                        <div class="appartment__text">
                            <p>Appartment 3</p>
                            <p>Capacity: 1-3</p>
                        </div>
                    </div>
                </div>
                <!-- \img\Appartment 3\Kitchen_apt3.jpg -->

                <div class="appartment">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/kitchen1_apt1.jpg" alt="Apt 1">
                        <div class="appartment__text">
                            <p>Appartment 6</p>
                            <p>Capacity: 1-3</p>
                        </div>
                    </div>
                </div>

                <div class="appartment">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/livingroom 1b_apt1.jpg" alt="Apt 1">
                        <div class="appartment__text">
                            <p>Appartment 1</p>
                            <p>Capacity: 1-3</p>
                        </div>
                    </div>
                </div>


                <div class="appartment">
                    <div class="appartment__img">
                        <img src="/img/Appartment 1/livingroom1_apt1.jpg" alt="Apt 1">
                        <div class="appartment__text">
                            <p>Appartment 1</p>
                            <p>Capacity: 1-3</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- \img\Appartment 1\livingroom1_apt1.jpg '/img/Appartment 1/MAPPA APT. 1.JPG-->
        </section>

        <!-- Section 3 Map, Terms and Services -->

        <section class="section-terms">
            <div class="terms">
                <div class="row">
                    <h2 class="heading-secondary center">Service and Conditions</h2>

                    <h3 class="heading__tertiary center">
                        <strong>The offer includes:</strong>
                    </h3>

                    <ul class="terms__list center">
                        <li> All expences as water, electricity and taxes</li>
                        <li> Bed sheets and towels</li>
                        <li> Final Cleaning</li>
                        <li> Skiroom in the winter</li>
                        <li> Wi-Fi included</li>
                    </ul>

                    <h3 class="heading__tertiary  center">
                        <strong>Conditions</strong>
                    </h3>
                    <ul class="terms__list center">
                        <li>Check In: From 14:00 - 20:00</li>
                        <li>Check Out: From 07:00 - 10:00 </li>
                        <li> At check-in there will be asked for a deposit (50-100€) which will be returned at check out</li>
                    </ul>

                    <div class="container">
                        <h2 class="header__secondary center">Here We Are:</h2>
                        <div class="dicMap">
                            <div id="map"></div>
                            <script>
                                function initMap() {
                                    var livigno = {
                                        lat: 46.524401,
                                        lng: 10.127369
                                    };
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 19,
                                        center: livigno
                                    });
                                    var marker = new google.maps.Marker({
                                        position: livigno,
                                        map: map
                                    });
                                }
                            </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnPQX1h8cS8NVHBTw7m2jmU8jfF0P1CE0&callback=initMap">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section 3 Booking -->

        <section class="section-booking">
        </section>
    </main>

    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__header">
            <a href="#section-appartments" class="popup__close">&times;</a>
            </div>
            <div class="popup__top">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://media-cdn.tripadvisor.com/media/photo-o/0e/cc/bd/ab/hotel-exe-vienna.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://www.leonardo-hotels.com/octopus/upload/images/rooms/murcdbllhecc15feb17800x600.jpg" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                                <img src="/img/Appartment 1/livingroom1_apt1.jpg" alt="...">
                                <!-- https://www.ahstatic.com/photos/6626_rokgb_00_p_1024x768.jpg -->
                                <div class="carousel-caption">
                                </div>
                            </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <div class="popup__bottom">
                <h3>Information about appartment</h3>
                <p>The apartment is a two rooms with one bedroom, one living room, bathroom and kitchen. In the bedroom there
                    are a double bed with sheets, and two wardrobes. The living room contains a fully furnished kitchen,
                    television and a sofa bed for one person. In the bathroom you will find a shower and fresh towels.The
                    apartment is suitable for two or three persons, particularly fitted for a small family.</p>
                <a href="#" class="button">Book Now</a>
            </div>
        </div>
    </div>


    </div>
    <div class="popup popup3" id="room3">
        <div class="popup__content">
                <a href="#section-appartments" class="popup__close">&times;</a> 
                <div class="popup__header">
                        <h1>Room 3</h1>    
                        
                        </div>
                        <div class="popup__top">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="https://media-cdn.tripadvisor.com/media/photo-o/0e/cc/bd/ab/hotel-exe-vienna.jpg" alt="...">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="https://www.leonardo-hotels.com/octopus/upload/images/rooms/murcdbllhecc15feb17800x600.jpg" alt="...">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                            <img src="/img/Appartment 1/livingroom1_apt1.jpg" alt="...">
                                            <!-- https://www.ahstatic.com/photos/6626_rokgb_00_p_1024x768.jpg -->
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
            <div class="popup__text">
                <h3>Information about appartment </h3>
                <p>The apartment is a single room with one bedroom, one living room, bathroom and kitchen. In the bedroom there
                    are a double bed with sheets, and a wardrobe. the living room contains a fully furnished kitchen, television
                    and a sofa bed for one person. In the bathroom you will find a shower and fresh towels.The apartment
                    is suitable for two or three persons, particularly fitted for a small family.</p>
            </div>
            <div class="popup__button">
                <a href="#" class="button">Book Now</a>
            </div>
        </div>
    </div>    
</div>



    <!-- <div class="popup" id="room4">
        <div class="popup__content">
            <div class="popup_slideshow">

            </div>
            <div class="popup__text">
                <h3>Information about appartment</h3>
                <p>The apartment is a three rooms with two bedrooms, one living room, bathroom, kitchen and two balcony.In one
                    bedroom there is a double bed, in the other one bunk bed for two persons, and each room is complete with
                    sheets and a wardrobes. The living room contains a fully furnished kitchen, microwave, television and
                    a sofa bed for one person. In the bathroom you will find a shower and fresh towels.The apartment is suitable
                    from 4 persons to 5 persons.</p>
            </div>
            <div class="popup__button">
                <a href="#" class="button">Book Now</a>
            </div>
        </div>
    </div> -->


    <!-- <div class="popup" id="room5">
        <div class="popup__content">
            <div class="popup_slideshow">

            </div>
            <div class="popup__text">
                <h3>Information about appartment</h3>
                <p>The apartment is a three rooms with two bedrooms, one living room, bathroom, kitchen and two balcony.In one
                    bedroom there is a double bed, in the other two single bed (which can eventually become a double bed),
                    and each room is complete with sheets and a wardrobes. The living room contains a fully furnished kitchen,
                    microwave, television and a sofa bed for one or two persons. In the bathroom you will find a shower and
                    fresh towels.The apartment is suitable from 4 persons to 6 persons.</p>
            </div>
            <div class="popup__button">
                <a href="#" class="button">Book Now</a>
            </div>
        </div>
    </div> -->
    <!-- <div class="popup" id="room6">
        <div class="popup__content">
            <div class="popup_slideshow">

            </div>
            <div class="popup__text">
                <h3>Information about appartment</h3>
                <p>Apartment monoroom for 2 persons. Double bed or two single beds. Kitchen and dining table, bathroom with
                    a shower, wc and washbasin. The apartment has a balcony.</p>
            </div>
            <div class="popup__button">
                <a href="#" class="button">Book Now</a>
            </div>
        </div>
    </div> -->
    <% include ./partials/footer%>