main{

}

.carousel{
// background-color: $color-white;

}

.section-about {
background-color: $color-main-light;
text-align: center;
width: 100%;
margin: 0 auto;

.about-content{
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-weight: 700;   
}
}

.section-appartments{
    background-color: $color-background;
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}

.section-terms{
    background-color: $color-background;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $color-main-light;
    color:$color-white;
    
}
.section-booking{
    background-color: $color-background;
    text-align:center;
    font-size:3rem;
    font-weight:700;
    // height:50rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}