<section class="section-appartments" id="section-appartments">
        <h2 class="heading-secondary center">Our Apartments</h2>
        <div class="colorbox">
            <div class="appartment">
                <div class="appartment__img">
                    <div class="appartment__text">
                        <p>
                            <span class="appartment__title"> Apartment 1 </span>
                        </p>
                        <img src="/img/Appartment 1/img4.jpg" alt="Apt 1">
                        <div class="appartment__info">
                            <p>
                                <span class="align-left">Capacity: 1-3 </span>
                                <a class="align-center btn btn--blue" data-toggle="modal" data-target="#modalAp1" href="">Read More
                                    <i class="fas fa-search"></i>
                                </a>
                                <span class="align-right">Suitable for: Family</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorbox">
                <div class="appartment">
                    <div class="appartment__img">
                        <div class="appartment__text">
                            <p>
                                <span class="appartment__title"> Apartment 3 </span>
                            </p>
                            <img src="/img/Appartment 1/img4.jpg" alt="Apt 1">
                            <div class="appartment__info">
                                <p>
                                    <span class="align-left">Capacity: 1-3 </span>
                                    <a class="align-center btn btn--blue" data-toggle="modal" data-target="#modalAp3" href="">Read More
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <span class="align-right">Suitable for: Family</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="colorbox color-main">
            <div class="appartment">
                <div class="appartment__img">
                    <div class="appartment__text">
                        <p>
                            <span class="appartment__title"> Apartment 4 </span>
                        </p>
                        <img src="/img/Appartment 1/img4.jpg" alt="Apt 1">
                        <div class="appartment__info">
                            <p>
                                <span class="align-left">Capacity: 1-3</span>
                                <a class="btn btn--blue align-center" data-toggle="modal" data-target="#modalAp4" href=""> Read More
                                    <i class="fas fa-search"></i>
                                </a>
                                <span class="align-right">Suitable for: Family</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colorbox color-secondary">
            <div class="appartment">
                <div class="appartment__img">
                    <div class="appartment__text">
                        <p>
                            <span class="appartment__title"> Apartment 5 </span>
                        </p>
                        <img src="/img/Appartment 1/img4.jpg" alt="Apt 1">
                        <div class="appartment__info">
                            <p>
                                <span class="align-left">Capacity: 1-3 </span>
                                <a class="align-center btn btn--blue" data-toggle="modal" data-target="#modalAp5" href="">Read More
                                    <i class="fas fa-search"></i>
                                </a>
                                <span class="align-right">Suitable for: Family</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorbox">
            <div class="appartment">
                <div class="appartment__img">
                    <div class="appartment__text">
                        <p>
                            <span class="appartment__title"> Apartment 6</span>
                        </p>
                        <img src="/img/Appartment 1/img4.jpg" alt="Apt 1">
                        <div class="appartment__info">
                            <p>
                                <span class="align-left">Capacity: 1-3 </span>
                                <a class="align-center btn btn--blue" data-toggle="modal" data-target="#modalAp6" href="">Read More
                                    <i class="fas fa-search"></i>
                                </a>
                                <span class="align-right">Suitable for: Family</span>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>