<header class="header">
    <div class="header__logo-box">
        <!-- Replace Logo -->
        <i class="fab fa-fort-awesome-alt header__logo"></i>
        <!-- <img src="" alt="Logo" class="header__logo"> -->
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Residence Capriolo Livigno</span>
            <span class="heading-primary-sub">Apartments and holiday</span>
        </h1>
        <a href="#" class="btn btn--white">Book Now</a>
    </div>
</header>
