$color-main: #3498db;  // Malibu
$color-main-light: #6bb9f0; // Peter river
$color-main-dark: #2980b9; // Belize Hole

$color-background: #f7f7f7; //White smoke
$color-white: #fff;
$color-black: #000;
$color-font: #013243; //Sherpa blue
$color-logo: #f22613; //Pomegranate

$color-grey-dark: #777;
// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;
